@charset "utf-8";
/* CSS Document */
body{
    font-family: "微软雅黑";
    font-size: 13px;
    margin: 0;
    padding: 0 ;
}
ul{
    list-style:none;
    padding:0;
    margin: 0;
}
li{
    text-decoration:none;
}
a{
    text-decoration:none;}
input{

}
table{
    border-collapse: collapse;
}

/*登录css*/
img {

    vertical-align: middle;
}
.login {
    background-color: #444;
}
.login .logo {
    margin: 60px auto 0;
    padding: 15px;
    text-align: center;
    width: 247px;
}
.login .content {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 30px 15px;
    width: 291px;
}
.login .formtitle{
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 25px;
    margin-top: 0;
}

.lname,.lpassword{
    width: 249px;
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
    border-right:1px solid #ddd;
    border-left: 2px solid #35aa47;
    padding-left: 33px;
    margin-bottom: 20px ;
    height:30px;
    line-height: 30px;
}
.lbtn{
    background-color: #35aa47;
    border: medium none;
    color: white;
    cursor: pointer;
    float: right;
    font-size: 14px;
    margin-right: 25px;
    padding: 7px 14px;
}
.lbtn:hover{
    background-color:#149d3b;
}
.forget{
    border-top: 1px solid #ddd;
    margin-top: 60px;
}
.forget h4{
    color: #555;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
}

/*首页css*/
.head{
    height: 42px;
    width: 100%;
    background-color: #212121;
}
.hcontent{
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
}
.cbrand{

}
.hright{
    float:right;
}
.hright a{
    color:#fff;}
.dpmenu{
    display:none;
    border: 1px solid #ddd;
    color: #000;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 1000;
    background-color: #fff;
    margin-top: 15px;

}
.dpmenu li{
    line-height: 25px;
    width: 150px;
}
.dpmenu li:hover{
    background-color:#ddd;}
.dpmenu li a{
    color: #000;
    font-size: 14px;
}
.dpmenu li a i{
    background:url(http://www.whhuoxing.com.img.800cdn.com/yun_QMS/Public/Media/image/glyphicons-halflings.png) no-repeat;
}
.dpmenu li a .icon-user{
    background-position: -168px 0;
}
.dpmenu li a .icon-calendar{
    background-position: -288px -24px;
}
.dpmenu li a .icon-key{
    background-position: -312px -72px;
}
.container{
    background-color: #3d3d3d;

    width: 100%;
    overflow: hidden;
}
.cleft{
    float:left;
    background-color: #3d3d3d;
    width:16%;
}
.cmenu  li{
    line-height:20px;
}
.cmenu  li a{

    color: #ffffff;
    display: block;
    font-size: 14px;

}
.cmenu > li > a{
    border-bottom: 1px solid #5c5c5c;
    padding: 10px 15px;
}
i{
    background:url(glyphicons_halflings-white.png) no-repeat;
    height:15px;
    width:15px;
    display:inline-block;
    margin-bottom: -2px;
    margin-right: 5px;
    font-size: 16px;
}
.icon-home:before {

}
.cmenu > li > a i{
    font-size: 16px;

}
.submenu{
    display:none;
}
.submenu > li:hover{
    background-color:#575757;
}
.submenu > li > a{
    color:#bdbdbd;
    padding: 3px 10px 5px 35px;
}
.icon-home{
    background-position: 0 -24px;
}
.icon-table{
    background-position: -240px 0;
}
.icon-sitemap{
    background-position: -264px 0;
}
.icon-user{
    background-position: -168px 0;
}
.icon-bar-chart{
    background-position: -384px -48px;
}
.icon-edit{}


.cright{
    float:right;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#fff;
    width:80%;
    min-height: 650px;
}
.ctit{
    color: #666;
    font-size: 30px;
    letter-spacing: -1px;
    margin: 20px 0 15px;
    padding: 0;
    font-weight: 300;
    line-height:40px;
}
.ctit small {
    color: #888;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
}
.cp{
    margin-bottom: 25px;
    padding-left: 8px;
    background-color: #eee;
    line-height:40px;
    font-size:14px;
    color:#333;
}
.cttit{
    background-color:#4b8df8;
    color: #fff;
    padding: 8px 10px 8px 5px;
    font-size: 18px;
    margin:0;

}
.cbox{
    padding:10px;
    border:1px solid #4b8df8;
}
.table{
    border:1px solid #ddd;
    width:100%;
}
.table td{
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.ccolor{
    background-color:#f3f3f3;
}
.tableft{
    width:20%;
    boder-top:none;
}

/*题库管理*/
.alldiv{
    left: 0;
    top: 0;

    z-index:900;
    width:100%;
    height:100%;
    position:fixed;
    background-color:#000000;
    opacity: 0.5;
    filter:alpha(opacity=50);
}
.d{
    display:none;
    height:400px;
    width:500px;
    position:fixed;
    z-index:1000;
    top:20%;left:35%;
    background-color: #fff;
}
.xx{
    float: right;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.dcon{
    margin: 20px;
}
.caption{
    margin-bottom: 20px;
}
.captable{
    width: 100%;
}
.cctit{
    background-color:#555555;
    color: #fff;
    padding: 8px 10px 8px 5px;
    font-size: 18px;
    margin:0;
}
.cctit .a{
    background-image: url(http://www.whhuoxing.com.img.800cdn.com/yun_QMS/Public/Media/image/portlet-collapse-icon.png);
    display: inline-block;
    height: 15px;
    width: 15px;
    cursor: pointer;
    float: right;
    margin-right: 15px;
}
.capbox{
    padding:10px;
    border:1px solid #555555;
    display: none;
}
.captable td{
    width: 50%;
    height: 65px;
}
.input{
    height: 24px;
    color: #333333;
    border: 1px solid #ddd;
    width: 60%;
    margin-top: 5px;
}
#questype,#users{
    height: 30px;
}
#createtime1,#createtime2{
    height: 24px;
    margin-top: 5px;
    border: 1px solid #ddd;
}
.btngreen{
    background-color: #35aa47;
    border: 1px solid #35aa47;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    width: 75%;
    display: inline-block;
}
.btngreen:hover{
    background-color: #1d943b;
}
.ctable th{
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

/*添加题目*/
.addform{
    margin-left: 50px;
}
.addselect{
    border: 1px solid #ddd;
    color: #666;
    font-size: 14px;
    height: 35px;
    width: 250px;
}
.addlabel{
    font-size: 15px;
    font-weight: bold;
    line-height: 60px;
    margin-right: 20px;
}
.addaction{
    margin-left: 85px;
}
.btnblue{
    background-color: #4d90fe;
    color: white;
    padding: 7px 14px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #4d90fe;
}
.btncancel{
    background-color: #e5e5e5;
    padding: 7px 14px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
}

/*分类管理*/
.catspan{
    display: inline-block;
    float: right;
    margin-right: 5px;


}
.catspan a{font-size: 15px;}
.cbox th{
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.icon-plus{
    background-position: -408px -96px;
}

/*用户管理*/
.search{
    margin: 15px 15px 15px 0;
}
.uinput{
    border: 1px solid #ddd;
    height: 25px;
    width: 85%;
    line-height: 25px;
}
.btnblueicn{
    background-color: #4b8df8;
    border: 1px solid #4b8df8;
    color: #fff;
    cursor: pointer;
    margin-left: -5px;
    padding: 6px;
    width: 50px;
}

.icon-search {
    background-position: -48px 0;
}

/*数据统计*/
.tspan,.censpan{
    display: inline-block;
    float: right;
    margin-right: 5px;
    position: relative;
    top: -41px;
    z-index: 100;
}
.tspan li,.censpan li{
    color: #555555;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin-left: 5px;
}


/*用户中心*/
.cenform{
    margin-left: 100px;
}
.ceninput{
    border: 1px solid #ddd;
    color: #333333;
    height: 24px;
    margin-top: 5px;
    width: 200px;
}
.cenarea{
    margin-top: 5px;
    width: 200px;
    border: 1px solid #ddd;
    color: #333333;
}
.div1,.div2{
    display: none;
}

/*文件上传*/
.exdiv{

}
.exdiv p{
    font-size: 16px;
}
.icon-upload{
    background-position: -144px -24px;
}
.icon-canser{
    background-position: -216px -96px;
}
.btngreenn,.btnbluee,.btnyelow{
    color: #fff;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
}
.btngreenn{
    background-color: #35aa47;
    border: 1px solid #35aa47;
}
.btnbluee{
    background-color: #4d90fe;
    border: 1px solid #4d90fe;
}
.btnyelow{
    background-color: #ffb848;
    border: 1px solid #ffb848;
}



.footer{
    height: 50px;
    width: 100%;
    background-color:#3d3d3d;
    clear: both;
}

.cbox{
    overflow: hidden;
}
.newleft{
    border: 1px solid #ddd;
    float: left;
    margin-right: 4%;
    min-height: 470px;
    padding: 2%;
    width: 25%;
}
.newleft li{
    cursor: pointer;
}
.newright{
    float: right;
    width: 65%;

}
.subul{
    display: none;
    margin-left: 40px;
}
.newico{
    background-image: url("myXDF_bg.png");
    background-position: -51px -228px;
    display: inline-block;
    height: 15px;
    width: 16px;

}
.newtable td{
    line-height: 30px;

}
.newtable input, .newtable select{
    border: 1px solid #ccc;
    height: 25px;
    line-height: 25px;
    width: 300px;
}
.newtable select{
    height: 30px;
    line-height: 30px;
}
.tdtit{

    font-size: 16px;
    font-weight: bold;
}
.scrollTable{position:relative;}