<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %class:%line >> %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/jiaxiangwei/jiaxiangwei-workflow.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${catalina.home}/logs/jiaxiangwei/jiaxiangwei-workflow.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!-- 可选参数，声明归档日志最大保留时间。如果你是基于月份的日志滚动，则当maxHisory为6时，说明会保留6个月的日志。大于6个月的就会被删除。日志所存在的目录也会被合适的删除掉。 -->
            <maxHistory>90</maxHistory>
            <!-- 可选参数，声明归档日志的最大存储量。当超过这个值，最老的归档日志文件也会被删除。 -->
            <totalSizeCap>10GB</totalSizeCap>
            <!-- 单个日志文件的大小限制 -->
            <MaxFileSize>100MB</MaxFileSize>
        </rollingPolicy>

        <encoder>
            <Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger:%line] --%mdc{client} %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="com.shuanghui.jiaxiangwei" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>

</configuration>